# Ignore local dev artifacts
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Debug / local files
*.log
.env*
*.orig.*
.DS_Store

# Ignore native directories - let EAS generate them
android/
ios/
