# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Local environment
.env*
*.local

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Generated native folders (we don’t commit build outputs)
/ios/build/
/android/build/

/# Keep gradle properties & keystore if you want to commit for EAS
!android/gradle.properties
!android/app/gradle.properties
# Keystores can remain ignored for security:
*.jks
*.p12
*.key
*.mobileprovision
